[submodule "Rudder/Libraries/ImGuizmo"]
	path = Rudder/Libraries/ImGuizmo
	url = https://github.com/CedricGuillemet/ImGuizmo.git
[submodule "Rudder/Libraries/IconFontCppHeaders"]
	path = Rudder/Libraries/IconFontCppHeaders
	url = https://github.com/juliettef/IconFontCppHeaders.git