# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Build results
build/
out/

# VSCode project settings
.vscode/

# Visual Studio settings
.vs/

# CMake settings
CMakeSettings.json
CMakeFiles/

# Include 3D Model resources
!**/res/**/*.obj

# Cmake file is edited to remove -Werror for assimp
Rush-Engine/Libraries/assimp
